:root {
    --background-color-yellow: #FCF192;
}

::-webkit-scrollbar {
    display: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

* {
    z-index: 4;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Architects Daughter', cursive;
    background-color: #15161a;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

header {
    width: 100%;
    overflow: hidden;
    height: 129px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    height: 100%;
    background: linear-gradient(#1e2024, #141518);

}

.container {
    display: flex;
    justify-content: space-around;
    height: 100%;
    background: linear-gradient(#1e2024, #141518);
}

.image_container {
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
}

.main_image {
    position: relative;
    width: 100%;
    height: 900px;
    background: url(../images/banner.jpg) no-repeat;
    background-size: cover;
    z-index: 0;
    bottom: 200px;
}

.main-header {
    transition: all 0.6s;
    color: var(--background-color-yellow);
    position: relative;
    padding: 0;
    margin: 0;
    margin-left: 0;
    font-size: 48px;
    cursor: pointer;
    text-decoration: none;
}

.btn {
    border: none;
    outline: none;
    z-index: 1;
}

.btn_href {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 27px;
    width: 320px;
    height: 100%;
    cursor: pointer;
    transition-property: border-top, letter-spacing, color;
    transition-duration: 0.5s;
    text-decoration: none;
}

.btn_href:hover {
    border-top: 10px solid var(--background-color-yellow);
    letter-spacing: 4px;
    color: var(--background-color-yellow);

}

.main-header:hover {
    text-shadow: 0 0 10px var(--background-color-yellow), 0 0 20px var(--background-color-yellow), 0 0 30px var(--background-color-yellow), 0 0 40px var(--background-color-yellow), 0 0 70px var(--background-color-yellow);
}

h2:hover {
    text-shadow: 0 0 10px var(--background-color-yellow), 0 0 20px var(--background-color-yellow), 0 0 30px var(--background-color-yellow), 0 0 40px var(--background-color-yellow), 0 0 70px var(--background-color-yellow);
}

.swiper-container {
    height: 700px;
    overflow: hidden;
}

.content-container {
    position: relative;
    height: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

section {
    background-color: #16181b;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(#282a30, #16181b);
    color: #ffffff;
    font-size: 20px;
    width: 100%;
    height: 180px;
}

.second-block {
    background: linear-gradient(180deg, #16181b 1%, #2a2b2e 19%, #2a2b2e 89%, #1c1d20);
    display: flex;
    align-items: center;
    justify-content: center;
}

.facts {
    font-size: 35px;
    color: var(--background-color-yellow)
}

.about {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    color: #fff;
}

.videos {
    width: 85%;
    margin: 5%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 87% 13% 80% 20% / 10% 90% 10% 90%;
    background: none;
}

.videos iframe {
    position: relative;
    margin: 0;
    padding: 0;
    height: 383px;
    width: 680px;
    gap: 0;
    top: 30px;
    transition: all 0.5s;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

footer {
    width: 100%;
    background: linear-gradient(#1c1d20, #121416);
    align-items: center;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: row;
    justify-content: center;
    margin-right: 2em;
    color: #fff;
}

.list {
    width: 30%;
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: row;
}

.uls {
    width: 100%;
    align-items: center;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    list-style: none;
}

.uls a {
    text-decoration: none;
    color: #fff;
}

.lis {
    transition: all 0.5s;
    cursor: pointer;
}

.lis:hover {
    text-decoration: underline;
    color: var(--background-color-yellow);
}

.beta-block {
    transition: all 0.3s;
    height: 70px;
    width: 300px;
    position: absolute;
    background: linear-gradient(#303135, #121416);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    color: #fff;
    text-align: center;
    border-radius: 1px 20px 20px 1px;
    z-index: 10;
    left: -300px;
    top: 100px;
    overflow: hidden;
}

.beta-block button {
    height: 100%;
    width: 12%;
    background: linear-gradient(#6b3434, #3a1818);
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
}

.search {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inp-search {
    height: 40%;
    width: 60%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 20px;
    background: linear-gradient(#303338, #1f2125);
    color: #fff;
}

.inp-submit {
    height: 40%;
    border: none;
    outline: none;
    background: linear-gradient(#303338, #1f2125);
    font-size: 20px;
    border-left: 1px solid #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
    font-family: 'Architects Daughter', cursive;

}

.inp-submit:hover {
    border-color: var(--background-color-yellow);
    color: var(--background-color-yellow);
}

@media screen and (min-width: 1820px) {
    .videos {
        background: linear-gradient(#33363b, #17181b);

    }
}